{% extends "base.html" %}
{% load static %}
{% block title %}Page d'accueil{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'intra/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'intra/js/script.js' %}"></script>
{% endblock %}
{% block bodyclass %}class="bkg-accueil"{% endblock %}
{% block content %}
	<div class="content">
		<div class="wrapper">
			<h1 class="white">Titre Lorem Ipsum qui accroche</h1>
			<h2 class="white">Titre Lorem Ipsum qui accroche</h2>
			<button class="btn blue0Back white" onclick="showbox('register-box')">Signup</button>
			<button class="btn whiteBack black" onclick="showbox('login-box')">Log in</button>
		</div>
	</div>
{% endblock %}
