{% extends "base.html" %}
{% load static %}
{% block title %}Forum - Nouveau post{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'forum/js/script.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="forum">
		<div class="wrapper">
			<div class="forum_nav grey2">
				<h1>Forum</h1>
				<a href="{% url "forum.views.add_post" %}"><button class="btn">Ajouter un artcicle</button></a>
				<ul>
				{% for categorie in categories %}
				<a href="#" class="grey0Back" onclick="show_sscat('{{ categorie.id }}')"><li>{{ categorie.name }}</li></a>
					<ul id="{{ categorie.id }}" class="forum_nav__sscat">
					{% for sscategorie in sscategories %}
						{% if sscategorie.postcategorie == categorie %}
						<a href="{% url "forum.views.list_posts" sscategorie.id %}"><li>{{ sscategorie.name }}</li></a>
						{% endif %}
					{% endfor %}
					</ul>
				{% empty %}
				<p>Pas de catégorie</p>
				{% endfor %}
				</ul>
			</div>
			<div class="post_content">
				<div class="post_content__header">
					<h2>Nouveau post</h2>
				</div>
				<div class="newpost_content__body">
					<form method="post" action="{% url 'forum.views.add_post' %}">
						{% csrf_token %}
						<label for="titre">Titre</label>
						<input id="titre" type="text" name="titre" placeholder="Titre">

						<label for="categorie">Tag</label>
						<select id="categorie" name="categorie">
							{% for cat in cats %}
							<optgroup label="{{ cat }}">
							  {% for sscat in sscats %}
							  {% if sscat.postcategorie == cat %}
							  <option value="{{ sscat }}">{{ sscat }}</option>
							  {% endif %}
							  {% endfor %}
							</optgroup>
							{% endfor %}
						</select>

						<label for="message">Message</label>
						<textarea id="message" name="message"></textarea>	

						<button type="submit" class="btn blue0Back white">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
