{% extends "base.html" %}
{% load static %}
{% block title %}Forum - Post{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'forum/js/script.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="forum">
		<div class="wrapper">
			<div class="forum_nav grey2">
				<h1>Forum</h1>
				<a href="{% url "forum.views.add_post" %}"><button class="btn">Ajouter un artcicle</button></a>
				<ul>
					<a href="#" class="grey0Back" onclick="show_sscat('sscat1')"><li>Catégorie 1</li></a>
						<ul id="sscat1" class="forum_nav__sscat">
							<a href="#"><li>Sous-catégorie 1</li></a>
							<a href="#"><li>Sous-catégorie 2</li></a>
							<a href="#"><li>Sous-catégorie 3</li></a>
							<a href="#"><li>Sous-catégorie 4</li></a>
						</ul>
					<a href="#" class="grey0Back"><li>Catégorie 2</li></a>
					<a href="#" class="grey0Back"><li>Catégorie 3</li></a>
					<a href="#" class="grey0Back"><li>Catégorie 4</li></a>
				</ul>
			</div>
			<div class="post_content">
				<div class="post_content__header">
					<h2>Titre du post</h2>
				</div>
				<div class="post_content__body">
					<ul>
						<li>
							<p>Roger Clanget - 05/06/2015</p>
							<p>Message principaleLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<form id="post01">
									<input type="text">
									<button type="submit" class="btn blue0Back white">OK</button>
							</form>
							<button id="but01" class="btn blue0Back white" onclick="showInput('01')">Reply</button>
						</li>
						<li class="post_content__body___reply">
							<p>Roger Clanget - 05/06/2015</p>
							<p>Message principaleLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</li>
						<li class="post_content__body___reply">
							<p>Roger Clanget - 05/06/2015</p>
							<p>Message principaleLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</li>
						<li>
							<p>Roger Clanget - 05/06/2015</p>
							<p>Message principaleLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</li>
					</ul>
				</div>
				<div class="post_content__response">
					<form>
						<textarea name="message"></textarea>
						<button type="submit" class="btn blue0Back white">Répondre</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
