{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Forum - Post{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'forum/js/script.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="forum">
		<div class="wrapper">
			<div class="forum_nav grey2">
				<h1>Forum</h1>
				<a href="{% url "forum.views.add_post" %}"><button class="btn">{% trans "Ajouter un artcicle" %}</button></a>
				<ul>
				{% for categorie in categories %}
				<a href="{% url "forum.views.list_posts" categorie.id %}" class="grey0Back"><li>{{ categorie.name }}</li></a>
					<ul id="{{ categorie.id }}" class="forum_nav__sscat">
					{% for sscategorie in sscategories %}
						{% if sscategorie.postcategorie == categorie %}
						<a href="{% url "forum.views.list_posts_bysscat" categorie.id sscategorie.id %}"><li>{{ sscategorie.name }}</li></a>
						{% endif %}
					{% endfor %}
					</ul>
				{% empty %}
				<p>Pas de catégorie</p>
				{% endfor %}
				</ul>
			</div>
			<div class="post_content">
				<div class="post_content__header">
					<h2>{{ post.titre }}</h2>
				</div>
				<div class="post_content__body">
					<ul>
						{% for msg in msgs %}
						<li>
							<p>le {{ msg.date }} par {{ msg.auteur }}</p>
							<p>{{ msg.content }}</p>
							<form id="post{{ msg.id }}" method="post" action="{% url 'forum.views.msg_reply' post.id %}">
								{% csrf_token %}
								<input type="hidden" name="id" value="{{ post.id }}">
								<input type="hidden" name="msg_id" value="{{ msg.id }}">
								<input type="text" name="message">
								<button type="submit" class="btn blue0Back white">OK</button>
							</form>
							<button id="but{{ msg.id }}" class="btn blue0Back white" onclick="showInput('{{ msg.id }}')">{% trans "Répondre" %}</button>
						</li>
							{% for thr in thread %}
							{% if thr.postmessage == msg %}
							<li class="post_content__body___reply">
							  <p>{% trans "le" %} {{ thr.date }} {% trans "par" %} {{ thr.auteur }}</p>
							  <p>{{ thr.content }}</p>
							</li>
							{% endif %}
							{% empty %}
							
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
				<div class="post_content__response">
					<form method="post" action="{% url 'forum.views.add_msg' post.id  %}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ post.id }}">
						<textarea name="message"></textarea>
						<button type="submit" class="btn blue0Back white">{% trans "Répondre" %}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
