* {
	padding: 0;
	margin: 0;
	font-family: arial;
	fill: #ffffff;
}

.wrapper {
	width: 80vw;
	margin: auto;
}

a, a:hover {
	color: white;
	text-decoration: none;
}

.page-filter {
	display: none;
	position: absolute;
	top: 70px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,1);
	z-index: 5;
	opacity: 0.5;
}
.btn {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	outline: none;
	border-radius: 2px;
	box-shadow: 1px 1px 2px black;
}

.btn:hover {
	cursor: pointer;
	box-shadow: none;
}


/* Color */

.blue0 {
	color: #0e57c8;
}

.blue1 {
	color: #222836;
}

.blue2 {
	color: #1b222c;
}

.white {
	color: white;
}

.black {
	color: black;	
}

.grey2 {
	color: #3a3d42;
}

.grey0 {
	color: #f6f6f6;
}

/* Background color */

.grey0Back {
	background-color: #f6f6f6;
}

.blackBack {
	background-color: black;
}

.whiteBack {
	background-color: white;
}

.blue0Back {
	background-color: #0e57c8;
}

.blue1Back {
	background-color: #222836;
}

.blue2Back {
	background-color: #1b222c;
}

/* Alerte messages */
.alertmsg {
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-align: center;
}

.alertmsg_info {
    background-color: yellow;
}

.alertmsg_success {
    background-color: green;
}

.alertmsg_error {
    background-color: red;
}

/* ACCUEIL */

.bkg-accueil {
	background-image: url(../img/bkg-accueil.jpg);
	background-position: center;
	background-size: cover;
}

.content {
	margin-top: 30vh;
	text-align: center;
}

.content h1, h2 {
	margin-bottom: 20px;
}

.content button {
	margin-right: 20px;
}

/* HEADER */

header {
	display: block;
	height: 70px;
	width: 100%;
}

.logo {
	display: block;
	float: left;
	height:100%;
	margin-left: 45px;
}

.logo a {
	line-height: 70px;
	font-size: 20px;
}

nav ul {
	list-style: none;
	text-align: center;
	line-height: 70px;
}

nav a {
	font-size: 15px;
}

nav ul li {
	display: inline-block;
	margin-left: 35px;
	cursor: pointer;
}

.btn-login {
	position: absolute;
	right: 45px;
	top: 0px;
	height: 70px;
}

.btn-login button {
	margin-top: 15px;
}

.login-box {
	display: none;
	position: absolute;
	width: 100vw;
	top: 70px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	z-index: 50;
	opacity: 1;
}

.login-box_box {
	max-width: 780px;
	margin: auto;
	text-align: left;
}

.login-box_box input {
	width: 47%;
	height: 45px;
	margin-bottom: 22px;
	margin-right: 17px;
}

.login-box_box button {
	display: block;
	float: right;
	margin-right: 15px;
}

.register-box {
	display: none;
	position: absolute;
	width: 100vw;
	top: 70px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	z-index: 50;
	opacity: 1;
}

.contact-box {
	display: none;
	position: absolute;
	width: 100vw;
	top: 70px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	z-index: 50;
	opacity: 1;
}

.contact-box_box {
	max-width: 780px;
	margin: auto;
	text-align: left;
}

.contact-box_box input{
	width: 100%;
	height: 45px;
	margin-bottom: 22px;
	margin-right: 17px;
}

.contact-box_box textarea{
	width: 100%;
	max-width: 100%;
	height: 250px;
	margin-bottom: 22px;
	margin-right: 17px;
}

.contact-box_box button {
	display: block;
	float: right;
	margin-right: 15px;
}

.forum {
	display: block;
	margin-top: 50px;
}

.forum a {
	color: #3a3d42;
}

.forum_nav {
	display: inline-block;
	width: 20%;
	min-height: 80vh;
	margin-right: 5%;
}

.forum_nav h1:after {
	content: ' ';
	display: block;
	width: 100%;
	border-bottom: 1px solid grey;
	margin-bottom: 45px;
}

.forum_nav .btn {
	box-shadow: none;
	width: 100%;
	margin-bottom: 45px;
}

.forum_nav .btn:hover {
	background-color: #0e57c8;
	color: white;
}

.forum_nav ul {
	list-style: none;
}

.forum_nav ul a{
	display: block;
	width: 90%;
	line-height: 35px;
	border-bottom: 1px solid #d6d6d6;
	padding-left: 10%;
}

.forum_nav ul a:hover{
	background-color: #0e57c8;
	color: white;
}

.forum_nav__sscat {
	display: none;
}

.forum_nav__sscat a li{
	padding-left: 20%;
}

.forum_content {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

.forum_content__header h2 {
	border-bottom: 1px solid grey;
	line-height: 37px;
}

.forum_content__posts ul {
	list-style: none;
}

.forum_content__posts ul a li {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #d6d6d6;
}

.forum_content__posts ul a li:hover {
	background-color: #d6d6d6;
}

.forum_content__posts ul a li:hover h3 {
	color: #0e57c8;
}

.post_content {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

.post_content__header h2 {
	border-bottom: 1px solid grey;
	line-height: 37px;
}

.post_content__body {
	padding-bottom: 120px;
}

.post_content__body ul {
	list-style: none;
}

.post_content__body ul li {
	width: 100%;
	margin-bottom: 20px;
	border-left: 1px solid #c6c6c6;
	border-bottom: 1px solid #d6d6d6;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 35px;
}

.post_content__body ul li p:first-child {
	color: #c6c6c6;
}

.post_content__body ul li p {
	margin-bottom: 10px;
}

.post_content__body ul li input {
	display: block;
	float: left;
	height: 23px;
	width: 90%;
	line-height: 25px;
}

.post_content__body ul li button {
	display: block;
	float: right;
	height: 25px;
	line-height: 25px;
}

.post_content__body ul li form {
	display: none;
}

.post_content__body___reply {
	width: 80%;
	margin-left: 10%;
}

.newpost_content__body label {
	display: inline-block;
	width: 20%;
}

.newpost_content__body input, select {
	display: inline-block;
	width: 75%;
	height: 35px;
	vertical-align: top;
	margin-bottom: 20px;
}

.newpost_content__body textarea {
	display: inline-block;
	max-width: 75%;
	min-width: 75%;
	height: 100px;
	vertical-align: top;
	margin-bottom: 20px;
}

.newpost_content__body button {
	margin-left: 21%;
	width: 75%;
}

.post_content__response {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.post_content__response form {
	width: 100%;
}
.post_content__response textarea {
	display: inline-block;
	min-width: 40%;
	max-width: 40%;
	height: 100px;
	vertical-align: top;
	margin-bottom: 20px;
}

.post_content__response button {
	display: inline-block;
	width: 7%;
	height: 100px;
	line-height: 100px;
}

.ticket_content__posts ul {
	list-style: none;
}

.ticket_content__posts ul li {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #d6d6d6;
	cursor: pointer;
}

.ticket_info {
	width: 80%;
	display: inline-block;
}

.ticket_nav {
	width: 18%;
	display: inline-block;
	vertical-align: top;
}

.ticket_nav button {
	margin-top: 10px;
}

.ticket_content__posts ul li p {
	margin-top: 10px;
}

.ticket_reply {
	margin-top: 20px;
	display: none;
}

.ticket_reply textarea {
	max-width: 80%;
	min-width: 80%;
	min-height: 100px;
	display: inline-block;
}


.ticket_reply button {
	width: 18%;
	height: 50px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 7px;
}

.ticket_content {
	display: none;
}

.ticket_admin {
	display: none;
	margin-top: 10px;
	padding-left: 20px;
}

.ticket_admin select, button {
	margin: 0;
}

.ticket_attribuer {
	position: relative;
	padding: 5px;
	margin-right: 10px;
	background-color: red;
}