{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Ticket{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'ticket/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'ticket/js/script.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="forum">
		<div class="wrapper">
			<div class="forum_nav grey2">
				<h1>Tickets</h1>
				<form method="post" action="{% url 'ticket.views.openorclose' %}">
				  {% csrf_token %}
				  <input type="hidden" name="id" value="{{ ticket.id }}">
				  <input type="hidden" name="username" value="{{ user.username }}">
				  {% if ticket.status %}
				  <button class="btn blue0Back white">Open</button>
				  {% else %}
				  <button class="btn blue2Back white">Close</button>
				  {% endif %}
				</form>
				{% if request.user.is_staff %}
				<button class="btn gray0Back blue0" onclick="showorhide('admin1', 'ticket_admin')">Attribuer à</button>
				<form class="ticket_admin" id="admin1" method="post" action="{% url 'ticket.views.attributeto' %}">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ ticket.id }}">
					<select name="user">
						{% for user in users %}
						{% if user.is_staff %}
						<option value="{{ user.username }}">{{ user.username }}</option>
						{% endif %}
						{% endfor %}
					</select>
					<button type="submit" class="btn">Valider</button>
				</form>
				{% endif %}
			</div>
			<div class="post_content">
				<div class="post_content__header">
					<h2>{{ ticket.titre }}</h2>
				</div>
				<div class="post_content__body">
					<ul>
						{% for msg in msgs %}
						{% if msg.ticket == ticket %}
						<li>
							<p>{{ msg.auteur }} - {{ msg.date }}</p>
							<p>{{ msg.content }}</p>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
				{% if ticket.status %}
				<div class="post_content__response">
					<form method="post" action="{% url 'ticket.views.reply' %}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ ticket.id }}">
						<textarea name="message"></textarea>
						<button type="submit" class="btn blue0Back white">Répondre</button>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
