{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Page d'accueil{% endblock %}
{% block staticfiles %}
	<link rel="stylesheet" href="{% static 'intra/css/style.css' %}">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{% static 'intra/js/script.js' %}"></script>
{% endblock %}
{% block bodyclass %}class="bkg-accueil"{% endblock %}
{% block content %}
	<div class="content">
		<div class="wrapper">
			{% if user.is_authenticated %}
			<h1 class="white">{% trans "Bienvenue" %}</h1>
			<h2 class="white">{% trans "Vous êtes maintenant connecté" %}</h2>
			{% else %}
			<h1 class="white">{% trans "Bonjour" %}</h1>
			<h2 class="white">{% trans "Veuillez vous connecter ou vous enregister" %}</h2>
			<button class="btn blue0Back white" onclick="showbox('register-box')">{% trans "Inscription" %}</button>
			<button class="btn whiteBack black" onclick="showbox('login-box')">{% trans "Connexion" %}</button>
			{% endif %}
		</div>
	</div>
{% endblock %}
